body{
  width: 1440px;
  height: 1024px;
  background-image: url(GIF/castillo.gif); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
img{
    width: 1000px;
    height: 250px;
    margin-left: 300px; 
}
.cartilla{
  color: lightblue;
  background: black;
}

.lispersonajes{
  display: inline;
  color: lightblue;
}

#vista3{
  color: lightblue;
  width: 256px;
  height: 256px;
  border-radius: 50%;
}

#vista4{
  color: lightblue;
  width: 256px;
  height: 256px;
  border-radius: 50%;
}

.imagen1{
  width: 256px;
  height: 256px;
  border-radius: 50%;
}

  .namebtns{
    color: lightblue;
    font-size: 45px;
    margin-left: 500px;
  
  }

#btnpersonajes{
    background-image: url(GIF/personajes3.gif);
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-left: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;  
}

#btnvaritas{
    background-image: url(GIF/varitas.gif);
    width: 400px;
    height: 400px;
    margin-left: 75px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;    
}
#btnpatronum{
    background-image: url(GIF/patronus.gif);
    width: 400px;
    height: 400px;
    margin-left: 65.010px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.hide {
    display: none;
}